.DS_Store
.DS_Store
.cproject
.project
.settings/
.yotta.json
Debug/
NOTICE.md
Release/
Thumbs.db
build/
test*/
*.tgz
node_modules/
xpacks/
scripts/
*.pdsc
NOTES.md

.vscode/
README-*.md

NOTES.md
scripts/
documents/
Device/
CMSIS/Utilities/
CMSIS/RTOS/
CMSIS/SVD/
ARM.CMSIS.pdsc
CMSIS/CMSIS_END_USER_LICENCE_AGREEMENT.pdf

